.menuContainer{
    color: $borders;
    display: flex;
    justify-content: space-between;
     position: fixed;
    width: 100%;
    .logoIndex{
        width: 110px;
        height: 40px;
        padding: 15px auto;
    }
    ul{
        display: flex;
        align-items: center;
        list-style: none;
        .animate__animated.animate__fadeInRight{
            animation-duration: 2s;
        }
        li{
            font-size: medium;
            align-items: center;
            margin-left: 30px;
            .bar{
                color: $borders;
                text-decoration: none;
                border-radius: 100px;
                &:hover{
                    color: $text;
                    font-size: 1.05rem;
                    transition: 0.5s;
                }
            }
            .butLog{
                display: inline-block;
                background-color: $logbut;
                color: $borders;
                padding: 10px 10px;
                border: none;
                border-radius: 8px;
                text-decoration: none;
                &:hover{
                    background-color: $text;
                }
            
            }

        }
    }
}

.buttonn{
    background-color: $cfc;
}




.logo{
    width: 40px;
    height: 40px;
    padding: 15px auto;
}

