$bg: rgb(21, 21, 21);
$hf: #292b2c;
$text: aqua;
$borders: rgba(176, 176, 176, 0.814);
$logbut: rgba(128, 128, 128, 0.122);
$cfc: rgba(128, 128, 128, 0.308);
$submit: gray;
$submithov: rgba(128, 128, 128, 0.754);



@import "body";
@import "header";
@import "main";
@import "footer";
@import "activities";
@import "aboutus";
@import "contact";
@import "login";
@import "cacrfu";















